.colorSchema{  
    color: #002A5C;
  
    color: #7AC142;
  
    color:#B2B7BB;
  
    color:#2D5980;
  
  }


.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
    border: 1px solid #B2B7BB;
    font: inherit;
    border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
    outline-color: #2D5980;
}
